In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.1 MB/s eta 0:00:0000:0100:02
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 5.0 MB/s eta 0:00:00a 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488498 sha256=07648b5245313d75357064382706b3b47fadb0a3c95862e6d003139c62cb56de
  Stored in directory: /Users/yilmazkaratas/Library/Caches/pip/wheels/95/13/41/f7f135ee114175605fb4f0a89e7389f3742aa6c1e1a5bcb657
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [9]:
import os

os.environ['SPARK_LOCAL_IP'] = '192.168.1.100'

In [10]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [18]:
spark

In [19]:
df_spark = spark.read.csv("merc2.csv")

In [36]:
df_spark = spark.read.options(header="True", inferSchema=True).csv("merc2.csv")
# header="True" =>: This option specifies that the first row of the CSV file contains the column names.
# inferSchema=True =>  This option tells Spark to infer the data types of columns in the DataFrame based on the contents of the CSV file.

In [37]:
df_spark.show()

+----+------+------------+-------+---+----+----------+
|year| price|transmission|mileage|tax| mpg|engineSize|
+----+------+------------+-------+---+----+----------+
|2005|  5200|   Automatic|  63000|325|32.1|       1.8|
|2017| 34948|   Automatic|  27000| 20|61.4|       2.1|
|2016| 49948|   Automatic|   6200|555|28.0|       5.5|
|2016| 61948|   Automatic|  16000|325|30.4|       4.0|
|2016| 73948|   Automatic|   4000|325|30.1|       4.0|
|2011|149948|   Automatic|   3000|570|21.4|       6.2|
|2018| 30948|   Automatic|  16000|145|47.9|       2.1|
|2012| 10948|   Automatic| 107000|265|36.7|       3.5|
|2019|139948|   Automatic|  12000|145|21.4|       4.0|
|2017| 19750|   Automatic|  15258| 30|64.2|       2.1|
|2020| 32980|   Automatic|    606|145|35.8|       2.0|
|2020| 26980|   Automatic|   1000|145|62.8|       1.5|
|2019| 23750|   Automatic|    278|145|55.4|       2.0|
|2019| 67980|   Automatic|   5500|145|21.7|       4.0|
|2016| 18980|   Automatic|  41713|125|56.6|       2.1|
|2017| 15890|   Automatic|  24841|150|68.9|       1.5|
|2017| 19890|   Automatic|  30281|150|60.1|       2.1|
|2019| 56800|   Automatic|   2483|145|29.5|       3.0|
|2017| 17513|   Automatic|  14128|150|68.9|       2.1|
|2014| 15701|   Automatic|  20498| 20|64.2|       2.1|
+----+------+------------+-------+---+----+----------+
only showing top 20 rows

In [38]:
filtered_df_spark = df_spark.filter(df_spark.year>2004)

In [39]:
filtered_df_spark.show()

+----+------+------------+-------+---+----+----------+
|year| price|transmission|mileage|tax| mpg|engineSize|
+----+------+------------+-------+---+----+----------+
|2005|  5200|   Automatic|  63000|325|32.1|       1.8|
|2017| 34948|   Automatic|  27000| 20|61.4|       2.1|
|2016| 49948|   Automatic|   6200|555|28.0|       5.5|
|2016| 61948|   Automatic|  16000|325|30.4|       4.0|
|2016| 73948|   Automatic|   4000|325|30.1|       4.0|
|2011|149948|   Automatic|   3000|570|21.4|       6.2|
|2018| 30948|   Automatic|  16000|145|47.9|       2.1|
|2012| 10948|   Automatic| 107000|265|36.7|       3.5|
|2019|139948|   Automatic|  12000|145|21.4|       4.0|
|2017| 19750|   Automatic|  15258| 30|64.2|       2.1|
|2020| 32980|   Automatic|    606|145|35.8|       2.0|
|2020| 26980|   Automatic|   1000|145|62.8|       1.5|
|2019| 23750|   Automatic|    278|145|55.4|       2.0|
|2019| 67980|   Automatic|   5500|145|21.7|       4.0|
|2016| 18980|   Automatic|  41713|125|56.6|       2.1|
|2017| 15890|   Automatic|  24841|150|68.9|       1.5|
|2017| 19890|   Automatic|  30281|150|60.1|       2.1|
|2019| 56800|   Automatic|   2483|145|29.5|       3.0|
|2017| 17513|   Automatic|  14128|150|68.9|       2.1|
|2014| 15701|   Automatic|  20498| 20|64.2|       2.1|
+----+------+------------+-------+---+----+----------+
only showing top 20 rows

In [40]:
### Check the schema
df_spark.printSchema()

root
 |-- year: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- transmission: string (nullable = true)
 |-- mileage: integer (nullable = true)
 |-- tax: integer (nullable = true)
 |-- mpg: double (nullable = true)
 |-- engineSize: double (nullable = true)

In [41]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [42]:
df_spark.head()

Row(year=2005, price=5200, transmission='Automatic', mileage=63000, tax=325, mpg=32.1, engineSize=1.8)

In [43]:
df_spark.head(3)

[Row(year=2005, price=5200, transmission='Automatic', mileage=63000, tax=325, mpg=32.1, engineSize=1.8),
 Row(year=2017, price=34948, transmission='Automatic', mileage=27000, tax=20, mpg=61.4, engineSize=2.1),
 Row(year=2016, price=49948, transmission='Automatic', mileage=6200, tax=555, mpg=28.0, engineSize=5.5)]

In [47]:
df_spark.select(["year", "price"]).show()

+----+------+
|year| price|
+----+------+
|2005|  5200|
|2017| 34948|
|2016| 49948|
|2016| 61948|
|2016| 73948|
|2011|149948|
|2018| 30948|
|2012| 10948|
|2019|139948|
|2017| 19750|
|2020| 32980|
|2020| 26980|
|2019| 23750|
|2019| 67980|
|2016| 18980|
|2017| 15890|
|2017| 19890|
|2019| 56800|
|2017| 17513|
|2014| 15701|
+----+------+
only showing top 20 rows

In [52]:
df_spark.dtypes

[('year', 'int'),
 ('price', 'int'),
 ('transmission', 'string'),
 ('mileage', 'int'),
 ('tax', 'int'),
 ('mpg', 'double'),
 ('engineSize', 'double')]